html{
    height: 100%;
    overflow-y: auto;
  }
  
  body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: linear-gradient(90deg, #d9e6f2 0%, #ffffff 100%);
    font-family: 'Segoe UI', 'Helvetica', 'Verdana', 'Arial';
    overflow-y: auto;
  }

  #dv-SuccessBodyWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Sidebar {
  width: 60px;
  height: 100vh;
  border-radius: 0px 16px 16px 0px;
  background-color: #377dff;
  color: white;
  position: sticky;
  top: 0;
  align-self: start;
  transition: 300ms ease-in-out;
  overflow: hidden;
  text-wrap: nowrap;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.Sidebar ul {
  list-style: none;
  padding: 0;
}

.Sidebar li {
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.Sidebar svg{
  fill: white;
}

.Sidebar li span {
  display: none;
}

#cx-sidebar:checked + .Sidebar li span {
  display: inline;
}

.Sidebar a{
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.SidebarIcon {
  margin-left: auto;
  padding: 1em;
  border: none;
  border-radius: .5em;
  background: none;
  cursor: pointer;
  margin-bottom: 20vh;
  svg{
    transition: rotate 150ms ease;
  }
}

#cx-sidebar:checked + .Sidebar {
  width: 250px;
}

#cx-sidebar:checked + .Sidebar ul li {
  text-align: left;
  padding-left: 20px;
}

#cx-sidebar {
  display: none;
}