.AdminConsoleWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.AdminConsoleMainContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  min-height: 100vh;
}

.AdminConsoleHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.AdminConsoleHeaderImg {
  width: 100px;
  height: 100px;
}

.AdminConsoleHeaderTitle {
  font-size: var(--fs--max);
  color: var(--primary--accent);
}

.AdminConsoleHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-top: 2rem;
}

.AdminConsoleHeading p {
  font-size: var(--fs--huge);
  font-weight: bold;
}

.AdminConsoleActionsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  width: 80%;
}

.AdminConsoleActionCard {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex: 1 1 calc(33.333% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40vh;
  margin-top: 5vh;
}

.AdminConsoleActionCard:hover {
  transform: translateY(-10px);
  cursor: pointer;
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.CardTitle {
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: #fff;
  padding: var(--fs--normal);
  text-align: center;
  font-size: var(--fs--huge);
  flex-shrink: 0;
  height: 10%;
}

.CardContent {
  padding: var(--fs--normal);
  text-align: center;
  flex-grow: 1;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CardContent p {
  font-size: var(--fs--small);
  color: var(--primary--color);
}

.CardContentList {
  list-style: none;
  padding-left: 0;
  text-align: center;
}

.CardContentList li {
  padding-bottom: 2%;
}

.CardLink {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 20%;
  padding: var(--fs--normal);
}

.CardContentLink {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--primary--accent);
}

.CardContentLink svg {
  fill: var(--primary--accent);
}

.AdminDashboardLink {
  display: flex;
  justify-content: center;
  align-items: center;
}

.AdminDashboardLink:hover {
  color: var(--primary--accent);
  cursor: pointer;
}

.AdminDashboardLink svg {
  fill: var(--primary--accent);
  cursor: pointer;
}

.ListAdminsWrapper {
  width: 90%;
  margin-top: 2rem;
  margin-bottom: 10rem;
}

.AdminsListHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.AdminTableHeading,
.AdminMgmtActionHeading {
  font-size: var(--fs--huge);
  font-weight: bold;
}

.AdminsList {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.CurrentAdminsTable {
  width: 100%;
  border-collapse: collapse;
}

.CurrentAdminsTable tr,
td,
th {
  padding: 10px;
  text-align: center;
}

.CurrentAdminsTable td,
th {
  border: 1px solid var(--primary--accent);
}

.AddAdminsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-top: 2rem;
}

.AdminMgmtActions {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.AdminConsoleInputsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.AdminMgmtInputWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  position: relative;
  max-width: 50vw;
  min-height: 40px;
}

.AdminMgmtInputWrapper input {
  width: 375px;
  height: 25px;
}

.AdminMgmtTextFieldLabel {
  position: absolute;
  top: 40%;
  left: 10%;
  transform: translateY(-50%);
  font-size: var(--fs--normal);
  color: var(--primary--label--color);
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  background: var(--background);
  padding: 0 4px;
}

.AdminMgmtTextFieldLabel2 {
  position: absolute;
  top: 40%;
  left: 13%;
  transform: translateY(-50%);
  font-size: var(--fs--normal);
  color: var(--primary--label--color);
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  background: var(--background);
  padding: 0 4px;
}

.AdminMgmtTextFieldLabel3 {
  position: absolute;
  top: 40%;
  left: 23%;
  transform: translateY(-50%);
  font-size: var(--fs--normal);
  color: var(--primary--label--color);
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  background: var(--background);
  padding: 0 4px;
}

.AdminMgmtDropDown {
  position: relative;
  width: 400px;
}

.AdminMgmtDropDown select {
  height: 50px;
}

.AdminMgmtDropDown::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 14px;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rgba(0,0,0,0.6)"><path d="M7 10l5 5 5-5H7z"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none; /* Prevents interaction */
  transition: transform 0.2s ease-in-out;
}

.AdminMgmtApprovalWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.AdminMgmtApproval {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  text-align: center;
}

.AdminMgmtOtpWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.AdminMgmtOtp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  position: relative;
  max-width: 50vw;
  min-height: 40px;
}

.AdminMgmtOtp input {
  width: 375px;
  height: 25px;
}

#btn-admin_mgmt {
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .AdminConsoleActionCard {
    flex: 1 1 100%;
  }

  .CardTitle {
    font-size: 1.2rem;
  }

  .CardContent p {
    font-size: 0.9rem;
  }
}
