:root {
  --fs--small: 1.3rem;
  --fs--normal: 1.5rem;
  --fs--big: 1.7rem;
  --fs--huge: 2rem;
  --fs--max: 2.5rem;
  --svg--width: 2.5rem;
  --svg--height: 2.5rem;
  --background: white;
  --primary--color: black;
  --primary--label--color: rgba(0, 0, 0, 0.6);
  --primary--accent: #377dff;
  --general--shadow: rgba(0, 0, 0, 0.5) 0 8px 15px;
  --input--border: #cccccc;
  --mandatory--input: red;
  --recommended--input: green;
  --optional--input: black;
  --bt--general--background: #555555;
  --bt--general--shadow: rgba(77, 77, 77, 0.8) 0 8px 15px;
  --bt--preview--background: #5a67d8;
  --bt--preview--shadow: rgba(90, 103, 216, 0.8) 0 8px 15px;
  --bt--add--background: var(--primary--accent);
  --bt--add--shadow: rgba(55, 125, 255, 0.8) 0 8px 15px;
  --bt--submit--background: #04aa6d;
  --bt--submit--shadow: rgba(4, 150, 96, 0.8) 0 8px 15px;
}

html {
  height: 100%;
  overflow-y: auto;
  margin: 0 auto;
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  background: var(--background);
  font-size: var(--fs--normal);
  font-family: "Segoe UI", "Helvetica", "Verdana", "Arial";
}

body svg {
  fill: var(--primary--color);
  height: var(--svg--height);
  width: var(--svg--width);
}

body button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 2rem 0rem;
}

::-webkit-input-placeholder {
  font-family: "Segoe UI", "Helvetica", "Verdana", "Arial";
}

:-ms-input-placeholder {
  font-family: "Segoe UI", "Helvetica", "Verdana", "Arial";
}

:-moz-placeholder {
  font-family: "Segoe UI", "Helvetica", "Verdana", "Arial";
}

::-moz-placeholder {
  font-family: "Segoe UI", "Helvetica", "Verdana", "Arial";
}

.InputWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  position: relative;
  max-width: 50vw;
  min-height: 40px;
  margin-top: 1em;
  margin-bottom: auto;
}

textarea {
  resize: vertical;
  min-height: 25vh;
}

.dropdown-container {
  position: relative;
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

input[type="checkbox"] {
  height: 20px;
  width: 20px;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

.PageDetailsHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.OverlayWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary--label--color);
  display: none;
}

.OverlayData {
  display: none;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  min-height: 100%;
  flex-shrink: 0;
  width: 100%;
}

.ResumeDataActions {
  background: var(--background);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  text-align: right;
  border-radius: 8px;
  width: 60%;
  height: 60%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: auto;
}

.OverlayCloseBtn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.OverlayCloseBtn svg {
  cursor: pointer;
}
