iframe {
  margin-bottom: 2em;
}

#dv-BodyWrapper button {
  appearance: none;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  border: none;
  font-size: var(--fs--normal);
  line-height: normal;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 0px 10px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 180px;
  will-change: transform;
  display: flex;
  justify-content: center;
  align-items: center;
}

#dv-BodyWrapper button :disabled {
  pointer-events: none;
}

#dv-BodyWrapper button :hover {
  transform: translateY(-2px);
}

#dv-BodyWrapper button :active {
  box-shadow: none;
  transform: translateY(0);
}

.LeftNavigationButtons svg,
.RightNavigationButtons svg,
.PreviewButton svg,
.ListInputButton svg,
.AddInputButtons svg,
.ParaInputButton svg,
.DownloadButton svg {
  pointer-events: none;
}

.LeftNavigationButtons {
  background-color: var(--bt--general--background);
  color: var(--background);
}

.LeftNavigationButtons svg {
  padding: 3px;
  fill: var(--primary--color);
  border-radius: 50%;
  margin-right: 10px;
  background-color: var(--background);
}

.LeftNavigationButtons:hover {
  box-shadow: var(--bt--general--shadow);
}

.RightNavigationButtons {
  background-color: var(--bt--general--background);
  color: var(--background);
}

.RightNavigationButtons svg {
  padding: 3px;
  fill: var(--primary--color);
  border-radius: 50%;
  margin-left: 10px;
  background-color: var(--background);
}

.RightNavigationButtons:hover {
  box-shadow: var(--bt--general--shadow);
}

.PreviewButton {
  background-color: var(--bt--preview--background);
  color: var(--background);
}

.PreviewButton svg {
  padding: 3px;
  fill: var(--primary--color);
  border-radius: 50%;
  margin-right: 10px;
  background-color: var(--background);
}

.PreviewButton:hover {
  box-shadow: var(--bt--preview--shadow);
}

.ListInputButton {
  background-color: var(--bt--general--background);
  color: var(--background);
}

.ListInputButton svg {
  padding: 3px;
  fill: var(--primary--color);
  border-radius: 50%;
  margin-right: 10px;
  background-color: var(--background);
}

.ListInputButton:hover {
  box-shadow: var(--bt--general--shadow);
}

.AddInputButtons {
  background-color: var(--bt--add--background);
  color: var(--background);
}

.AddInputButtons svg {
  padding: 3px;
  fill: var(--primary--color);
  border-radius: 50%;
  margin-right: 10px;
  background-color: var(--background);
}

.AddInputButtons:hover {
  box-shadow: var(--bt--add--shadow);
}

.ParaInputButton {
  background-color: var(--bt--general--background);
  color: var(--background);
}

.ParaInputButton svg {
  padding: 3px;
  fill: var(--primary--color);
  border-radius: 50%;
  margin-right: 10px;
  background-color: var(--background);
}

.ParaInputButton:hover {
  box-shadow: var(--bt--general--shadow);
}

.DownloadButton {
  background-color: var(--bt--submit--background);
  color: var(--background);
}

.DownloadButton svg {
  padding: 3px;
  fill: var(--primary--color);
  border-radius: 50%;
  margin-left: 10px;
  background-color: var(--background);
}

.DownloadButton:hover {
  box-shadow: var(--bt--submit--shadow);
}

#dv-TemplatesWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 80vh;
}

#dv-TemplatesHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 95%;
}

#dv-TemplatesHeading {
  display: flex;
  justify-content: center;
  align-items: center;
}

#dv-TemplatesMenuIcons {
  margin-left: auto;
}

#dv-TemplatesImages {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.TemplateImages {
  height: 500px;
  width: 350px;
  border-radius: 25px 25px 25px 25px;
  box-shadow: var(--general--shadow);
}

.MainContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.ResumeActions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 1em 0em 1em 0em;
}

.MenuIcons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MenuIconsSvg {
  padding-left: 10px;
  cursor: pointer;
}

#dv-MainFormAndPreview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  min-height: 80vh;
  flex-grow: 1;
}

#dv-MainForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  max-height: 100%;
  min-height: 100%;
}

#dv-PreviewWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  max-height: 100%;
  margin-top: 1em;
}

.WrapperClass {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  padding-bottom: 2em;
}

.NavigationButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 5em;
}

#dv-BasicDetailsButtons {
  justify-content: right;
}

.SubWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  margin: 1em 0em;
  min-height: 200px;
  overflow-y: auto;
}

#sp-rbheading {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--primary--accent);
  cursor: pointer;
}

#sp-rbheading:hover {
  text-decoration: underline;
}

.RBHeaderText {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1em 0em;
}

.RBHeaderArrow {
  padding-left: 5px;
  padding-right: 5px;
}

.RBHeaderSvgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.RBHeaderSvg {
  padding-left: 5px;
}

.StyleChoosingButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.AddInputButton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.MandatoryInputSvg {
  margin-left: 2.5vw;
  height: 30px;
  width: 30px;
  cursor: pointer;
  fill: var(--mandatory--input);
}

.OptionalInputSvg {
  margin-left: 2.5vw;
  height: 30px;
  width: 30px;
  cursor: pointer;
  fill: var(--optional--input);
}

.RecommededInputSvg {
  margin-left: 2.5vw;
  height: 30px;
  width: 30px;
  cursor: pointer;
  fill: var(--recommended--input);
}

#dv-MainForm input,
#dv-MainForm textarea {
  width: 70%;
}

.InputInfoWrapper {
  width: 100%;
}

.InputInfoDiv {
  background: var(--background);
  border-left: 6px solid var(--primary--accent);
  border-radius: 12px;
  box-shadow: var(--general--shadow);
  padding: 12px;
  margin: 20px 0px;
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 70%;
}

.InputInfoDiv > div {
  margin-bottom: 1vh;
}

.InputInfoDiv > div:last-child {
  margin-bottom: 0;
}

.InputInfoHeading {
  font-size: var(--fs--normal);
  font-weight: bold;
}

.InputInfoValue {
  font-size: var(--fs--normal);
  font-weight: normal;
}

.RBHeaderText {
  font-size: var(--fs--normal);
}

.UserProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  flex-direction: column;
  min-height: 80vh;
  flex-grow: 1;
  padding: 5rem 0rem;
}

.UserProfileWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-direction: column;
  max-height: 100%;
  min-height: 100%;
}

.UserProfileInnerWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding-bottom: 5em;
  flex-grow: 1;
  flex-shrink: 0;
}

.UserProfileHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.UserProfileBody {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.UserDetailsWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.UserProfileDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  margin: 2rem 0em;
  border-bottom: 2px solid black;
}

.UserDetailsHeading {
  color: var(--primary--accent);
  font-weight: bold;
}

.UserProfileButtons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.UserProfileContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  margin: 2rem 0rem;
  flex-direction: column;
}

.UserProfileContentOtp {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  position: relative;
  max-width: 50vw;
  min-height: 40px;
}

.UserProfileContentOtp input {
  width: 375px;
  height: 25px;
}

.UserOtpLabel {
  position: absolute;
  top: 40%;
  left: 13%;
  transform: translateY(-50%);
  font-size: var(--fs--normal);
  color: var(--primary--label--color);
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  background: var(--background);
  padding: 0 4px;
}
