iframe{
	margin-bottom: 2em;
}

#dv-BodyWrapper button {
	appearance: none;
	border-radius: 5px;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	border: none;
	font-size: 1rem;
	line-height: normal;
	margin: 0;
	min-height: 60px;
	min-width: 0;
	outline: none;
	padding: 0px 10px;
	text-align: center;
	text-decoration: none;
	transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: 180px;
	will-change: transform;
	display: flex;
	justify-content: center;
	align-items: center;
}

#dv-BodyWrapper button :disabled {
	pointer-events: none;
}

#dv-BodyWrapper button :hover {
	transform: translateY(-2px);
}

#dv-BodyWrapper button :active {
	box-shadow: none;
	transform: translateY(0);
}

#dv-BodyWrapper svg {
	pointer-events: none;
}

.LeftNavigationButtons {
	background-color: #555555;
	color: white;
}

.LeftNavigationButtons svg {
	padding: 3px;
	fill: black;
	border-radius: 50%;
	margin-right: 10px;
	background-color: white;
}

.LeftNavigationButtons:hover {
	box-shadow: rgba(77, 77, 77, 0.8) 0 8px 15px;
}


.RightNavigationButtons {
	background-color: #555555;
	color: white;
}

.RightNavigationButtons svg {
	padding: 3px;
	fill: black;
	border-radius: 50%;
	margin-left: 10px;
	background-color: white;
}

.RightNavigationButtons:hover {
	box-shadow: rgba(77, 77, 77, 0.8) 0 8px 15px;
}

.PreviewButton {
	background-color: #5a67d8;
	color: white;
}

.PreviewButton svg {
	padding: 3px;
	fill: black;
	border-radius: 50%;
	margin-right: 10px;
	background-color: white;
}

.PreviewButton:hover {
	box-shadow: rgba(90, 103, 216, 0.8) 0 8px 15px;
}

.ListInputButton {
	background-color: #555555;
	color: white;
}

.ListInputButton svg {
	padding: 3px;
	fill: black;
	border-radius: 50%;
	margin-right: 10px;
	background-color: white;
}

.ListInputButton:hover {
	box-shadow: rgba(77, 77, 77, 0.8) 0 8px 15px;
}

.AddInputButtons {
	background-color: #377dff;
	color: white;
}

.AddInputButtons svg {
	padding: 3px;
	fill: black;
	border-radius: 50%;
	margin-right: 10px;
	background-color: white;
}

.AddInputButtons:hover {
	box-shadow: rgba(55, 125, 255, 0.8) 0 8px 15px;
}

.ParaInputButton {
	background-color: #555555;
	color: white;
}

.ParaInputButton svg {
	padding: 3px;
	fill: black;
	border-radius: 50%;
	margin-right: 10px;
	background-color: white;
}

.ParaInputButton:hover {
	box-shadow: rgba(77, 77, 77, 0.8) 0 8px 15px;
}

.SubmitButton {
	background-color: #04aa6d;
	color: white;
}

.SubmitButton svg {
	padding: 3px;
	fill: black;
	border-radius: 50%;
	margin-left: 10px;
	background-color: white;
}

.SubmitButton:hover {
	box-shadow: rgba(4, 150, 96, 0.8) 0 8px 15px;
}

#dv-TemplatesWrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-height: 80vh;
}

#dv-TemplatesHeading {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#dv-TemplatesImages {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 100%;
}

.TemplateImages {
	height: 500px;
	width: 350px;
	border-radius: 25px 25px 25px 25px;
	border: 3px solid #377dff;
}

#dv-MainFormAndPreview {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 95%;
	min-height: 80vh;
	flex-grow: 1;
}

#dv-MainForm {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 50%;
	max-height: 100%;
	min-height: 100%;
}

#dv-PreviewWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 40%;
	max-height: 100%;
}

.WrapperClass {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	flex-grow: 1;
	flex-shrink: 0;
	padding-bottom: 2em;
}

.NavigationButtons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding-bottom: 5em;
}

#dv-BasicDetailsButtons {
	justify-content: right;
}

.SubWrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	width: 100%;
	margin: 1em 0em;
	min-height: 200px;
	overflow-y: auto;
}

.EducationHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.ProjectHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.CustomDivHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.ExperienceHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.BasicDetailsHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.SkillsHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.CertificationsHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.LanguagesHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}