#dv-RegisterWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    flex-direction: column;
}

.RegistrationDivWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1em 0em;
}

.RegisterInputWrapper {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 50%;
	position: relative;
	max-width: 50vw;
	min-height: 40px;
}

.RegisterInputWrapper input{
    width: 375px;
    height: 25px;
}

.RegisterDropDown {
	position: relative;
	width: 400px;
}

.RegisterDropDown select{
    height: 50px;
}

.RegisterDropDown::after {
	content: '';
	position: absolute;
	top: 50%;
	right: 14px;
	transform: translateY(-50%);
	width: 25px;
	height: 25px;
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rgba(0,0,0,0.6)"><path d="M7 10l5 5 5-5H7z"/></svg>');
	background-size: contain;
	background-repeat: no-repeat;
	pointer-events: none; /* Prevents interaction */
	transition: transform 0.2s ease-in-out;
}